dist
node_modules
*.config.js
*.config.ts
coverage
playwright-report
vitest-reports
scripts
tests
e2e
vitest-plugins
**/*.test.ts
**/*.test.tsx
src/test
vitest-reporters
**/test-*.js
**/test_*.js
vitest-slow-test-reporter.ts
src/wasm/pkg
